@use "../../../../common/variables" as *;
@use "../../../../common/responsive" as *;

.newPasswordWrapper {
  width: 100vw;
  height: 100vh;
  background-color: $bg-btn-color;
  display: flex;
  justify-content: center;
  align-items: center;
  > .newPasswordForm {
    padding: 1.5em;
    width: 25em;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $bg-color;
    > form {
      > p:nth-child(1) {
        font-size: xx-large;
        color: white;
        text-align: center;
        margin-bottom: 0;
      }
      > p:nth-child(2) {
        font-size: small;
        color: $bg-btn-color;
        text-align: center;
        margin-bottom: 2em;
      }
      .newPasswordInput {
        display: flex;
        flex-direction: column;
        row-gap: 2.5em;
        margin-bottom: 2em;
      }
      > p:last-child {
        margin-top: 1em;
        font-size: small;
        color: white;
        > a {
          color: $bg-color;
          &:hover {
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
  .errorMessage {
    color: #eb233e;
    font-size: medium;
    text-decoration: none;
    padding-top: 10px;
  }
}
