@use "../../../common/responsive" as *;
@use "../../../common/variables" as *;

.formInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  height: 6em;
  width: 35em;
  .input {
    width: 100%;
    outline: none;
    padding: 0.5em 1em;
    font-size: small;
    border-radius: 5px;
    background-color: #f3f3f3;
    height: 3em;
  }
  p {
    width: 100%;
    word-wrap: break-word;
    font-size: small;
    color: rgb(199, 54, 54);
  }
}
