@use "../../../../common/variables" as *;
@use "../../../../common/responsive" as *;

.loginInputPasswordWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  > label {
    position: absolute;
    background-color: $bg-btn-color;
    padding: 0 0.8em 0 0.8em;
    border-radius: 5px;
    font-size: small;
    left: 1em;
    top: 0;
    transform: translateY(-50%);
    color: white;
  }
  > input {
    width: 100%;
    outline: none;
    font-size: 12px;
    border-radius: 5px;
    padding: 0.9em 3em 0.9em 0.9em;
    &::placeholder {
      font-size: small;
    }
    box-shadow: $box-shadow-4px;
  }
  > button {
    outline: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 1em;
  }
}
