@use "../../../../common/variables" as *;
@use "../../../../common/responsive" as *;

.loginWrapper {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    > .loginForm {
      padding: 1.5em;
      width: 20em;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      background-color: $bg-btn-color;
      > p {
        text-align: center;
        font-size: xx-large;
        margin-bottom: 1em;
        color: white;
      }
      > form {
        display: flex;
        gap: 2.5em;
        flex-direction: column;
        margin-bottom: 0.5em;
      }
      > span {
        font-size: small;
        color: #eb233e;
        height: 2em;
      }
      .errorMessage {
        color: #eb233e;
        font-size: small;
        text-decoration: none;
        padding-top: 10px;
      }
    }
  }