@use "../../../../common/variables" as *;

.passwordForm {
  flex: 1;
  height: 45em;
  padding: $padding-20px;
  border-radius: $bd-radius-8px;
  box-shadow: $box-shadow-4px;

  h2 {
    font-size: $font-size-24px;
    font-weight: bold;
    margin-bottom: $margin-bottom-20px;
  }

  form {
    display: flex;
    flex-direction: column;

    .className {
      width: $width-full;
      padding: $padding-10px;
      border-radius: $bd-radius-5px;
      border: $border-1px-light-grey;
      margin-bottom: $margin-bottom-10px;
      text-align: left;
      flex-wrap: wrap;
    }

    label {
      font-size: $font-size-16px;
      margin-bottom: $margin-bottom-5px;

      // input {
      //     width: $width-full;
      //     padding: $padding-10px;
      //     border-radius: $bd-radius-5px;
      //     border: $border-1px-light-grey;
      //     margin-bottom: $margin-bottom-20px;
      // }
    }

    // .newPasswordFields {
    //     display: flex;
    //     justify-content: $justify-between;
    //     gap: $gap-15px;

    //     label {
    //         font-size: $font-size-16px;
    //         margin-bottom: $margin-bottom-10px;

    //         input {
    //             width: $width-full;
    //             padding: $padding-10px;
    //             border-radius: $bd-radius-5px;
    //             border: $border-1px-light-grey;
    //             margin-bottom: $margin-bottom-20px;
    //         }
    //     }
    // }

    button {
      width: $width-20;
      padding: $padding-5px;
      background-color: $bg-color-green-400;
      border-radius: $bd-radius-8px;
      box-shadow: $box-shadow-4px;
      cursor: pointer;
      margin-top: 5px;
      align-self: flex-end;
      font-weight: bold;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        width: $width-full;
        // margin-left: $margin-left-auto;
        // margin-right: $margin-right-auto;
        margin: $margin-auto;
      }
    }
  }

  @media (max-width: 768px) {
    width: $width-full;
    margin: $margin-auto;
  }
}
