@use "../../common/responsive" as *;
@use "../../common/variables" as *; 

.adminPageContainer {
    width: 100%;
    height: 100%;
    > div {
        display: flex;
        > div:first-child {
            width: 20%;
            background-color: #20233a;
        }
        > div:nth-child(2) {
            width: 80%;
            padding: 2em;
        }
    }
}